.general-info-container {
    width: 46rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.general-info__title {
    width: 100%;
    /*height: 50rem;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.general-info__title__icon-container {
    height: auto;
    width: auto;
    /*padding: 1.5rem 0;*/
}

.general-info__title__icon {
    height: 100%;
    width: auto;
    border-radius: 100%;
}

.general-info__title__name-container {
    min-width: max-content;
    margin-left: 1.3rem;
}

.general-info__title__name-container h2 {
    color: lightgrey;
}
.general-info__title__name-container h3 {
    color: grey;
}

.general-info__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.general-info__description__text {
    text-align: justify;
    font-size: 1.2rem;
}

.general-info__description__link-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
}

.general-info__description__link {
    padding: .5rem;
    border: .15rem solid var(--foreground);
    border-radius: 1.2rem;

    display: flex;
    gap: .1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
